/* Se establecen los estilos que trendan cada uno de los apartados de la barra de navegacion */
.navBar { 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    background-color:pink;
    box-shadow: 0px 1px 0px 0px;
     
} 
 
.navOpen { 
    display: flex; 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(241, 159, 241, 0.527); 
    flex-direction: column; 
    align-items: center; 
} 
 
.navLink { 
    display: flex; 
    font-size: 2em; 
    font-weight: 400; 
    color: aliceblue; 
    padding-top: 90px;
 
} 
 
.navLink:hover { 
    cursor: pointer; 
} 
 
/*.border { 
    display: flex; 
    height: 1px; 
    animation-name: animacionborde; 
    animation-duration: 1s; 
    background-color: black; 
 
}*/ 
 
@keyframes animacionborder { 
    0% { 
        height: 0px; 
    } 
    100% { 
        height: 1px; 
    } 
} 
 
.logo { 
    display: flex; 
    color: rgb(90, 182, 182); 
    font-weight: 600; 
} 
 
@media (min-width : 800px ) { 
 
    .logo { 
        font-size: 1.5em; 
    } 
    .navBar { 
        align-items: center; 
        align-content: center; 
        justify-content: space-evenly; 
        height: 50px; 
    } 
 
    .linksContainer { 
        display: flex; 
        width: 50%; 
        flex-direction: row; 
        justify-content: space-evenly; 
    } 
 
    .navLink { 
        font-weight: 600; 
        font-size: 1.4em; 
        padding-top: 4px; 
        font-size: 1.4em; 
        transition: 0.5s; 
    } 
 
    .navLink:hover { 
        font-size: 1.5em; 
    } 
 
}